services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres-auth
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: corgi_blog_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_auth_data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  auth-service:
    build:
      context: .
      dockerfile: ./apps/auth-service/Dockerfile
    container_name: auth-service
    restart: always
    ports:
      - "4012:4012"
    depends_on:
      - postgres
      - rabbitmq
    environment:
      DATABASE_URI: postgresql://postgres:postgres@postgres:5432/corgi_blog_db
      RABBITMQ_URI: amqp://guest:guest@rabbitmq:5672
      AUTH_QUEUE: auth_queue
      NODE_ENV: production

  posts-service:
    build:
      context: .
      dockerfile: ./apps/posts-service/Dockerfile
    container_name: posts-service
    restart: always
    ports:
      - "4014:4014"
    depends_on:
      - postgres
      - rabbitmq
    environment:
      DATABASE_URI: postgresql://postgres:postgres@postgres:5432/corgi_blog_db
      RABBITMQ_URI: amqp://guest:guest@rabbitmq:5672
      POSTS_QUEUE: posts_queue
      NODE_ENV: production

  comments-service:
    build:
      context: .
      dockerfile: ./apps/comments-service/Dockerfile
    container_name: comments-service
    restart: always
    ports:
      - "4015:4015"
    depends_on:
      - postgres
      - rabbitmq
    environment:
      DATABASE_URI: postgresql://postgres:postgres@postgres:5432/corgi_blog_db
      RABBITMQ_URI: amqp://guest:guest@rabbitmq:5672
      COMMENTS_QUEUE: comments_queue
      NODE_ENV: production

  notifications-service:
    build:
      context: .
      dockerfile: ./apps/notifications-service/Dockerfile
    container_name: notifications-service
    restart: always
    ports:
      - "4016:4016"
    depends_on:
      - postgres
      - rabbitmq
    environment:
      DATABASE_URI: postgresql://postgres:postgres@postgres:5432/corgi_blog_db
      RABBITMQ_URI: amqp://guest:guest@rabbitmq:5672
      NOTIFICATIONS_QUEUE: notifications_queue
      NODE_ENV: production

  media-service:
    build:
      context: .
      dockerfile: ./apps/media-service/Dockerfile
    container_name: media-service
    restart: always
    ports:
      - "4013:4013"
    depends_on:
      - rabbitmq
    env_file:
      - ./apps/media-service/.env
    environment:
      RABBITMQ_URI: amqp://guest:guest@rabbitmq:5672
      MEDIA_QUEUE: media_queue
      NODE_ENV: production

  gateway-service:
    build:
      context: .
      dockerfile: ./apps/gateway-service/Dockerfile
    container_name: gateway-service
    restart: always
    ports:
      - "4011:4011"
    depends_on:
      - rabbitmq
      - auth-service
      - posts-service
      - comments-service
      - notifications-service
    environment:
      PORT: 4011
      RABBITMQ_URI: amqp://guest:guest@rabbitmq:5672
      AUTH_QUEUE: auth_queue
      POSTS_QUEUE: posts_queue
      COMMENTS_QUEUE: comments_queue
      NOTIFICATIONS_QUEUE: notifications_queue
      NODE_ENV: production

volumes:
  postgres_auth_data:
